/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.login-form {
    width: 300px;
    padding: 2rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

    .login-form h2 {
        margin-bottom: 1.5rem;
    }

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .form-group input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.login-button, .google-login {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

    .login-button:hover, .google-login:hover {
        background-color: #0056b3;
    }

.signup-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

    .signup-link:hover {
        color: #0056b3;
        text-decoration: none;
    }
.no-account {
    color: #ff0000;
    cursor: pointer;
    
}
.change-pass {
    color: #4CAF50; 
    cursor: pointer;
    text-align: center;

}